<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdDeNhR0cC-ws4fZvUJ6haIeSr_O9Vr5A</string>
	<key>GCM_SENDER_ID</key>
	<string>419229901848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.btchat</string>
	<key>PROJECT_ID</key>
	<string>btchat-9ec76</string>
	<key>STORAGE_BUCKET</key>
	<string>btchat-9ec76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419229901848:ios:bc5c0a2629d4659aa44f6d</string>
</dict>
</plist>